.post-img {
    height: 405px;
    overflow: hidden;
    /* margin-top: 19px; */
}

.post-img img {
    width: 100%;
}

.blog-post-content {
    /* background-color: red; */
    font-family: var(--font1);
}

.blog-post-content h1 {
    text-align: center;
}

.row {
    display: flex;
}

.description-col {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.blogpost-meta {
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.author-info div {
    padding: 4px 12px;
}