.contact-content {
    height: 85vh;
    display: block;
    margin-top: 25px;
    position: relative;
    overflow: auto;
}

.contact-content::after {
    content: "";
    background-image: url(../img/11.svg);
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: .15;
    border-radius: 12px;
    top: 0;
    z-index: -1;
}

.contact-submit {
    margin-left: 7px;
    border: 2px solid #bd6418;
}