* {
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    height: 74px;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    /* position: sticky;
    top: 25px;
    z-index: 1; */
    background-color: #d6d3d37a;
    border-radius: 10px 10px 0 0;
    padding: 11px 0px;
}

.nav-left {
    display: flex;
}

.nav-logo-img {
    width: 85px;
    margin-top: 21px;
    border-radius: 50px;
}

.nav-left span {
    font-size: 35px;
    padding-top: 2px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0px 46px;
    font-size: 22px;
    font-weight: bold;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.content {
    height: 395px;
    /* background-color: rgb(220, 220, 245); */
    display: flex;
    margin-top: 32px;
    padding: 10px;
    position: relative;
}

.content::after {
    content: "";
    background-image: url(../img/11.svg);
    position: absolute;
    width: 98.5%;
    height: inherit;
    opacity: .15;
    border-radius: 12px;
}

.content-left {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-family: var(--font1);
    padding: 23px;
    z-index: 1;
}

.content-left-heading {
    letter-spacing: .7rem;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
    margin: 0 16px
}

.home-articles {
    padding-top: 12px;
    margin-top: 23px;
}

.home-articles a {
    text-decoration: none;
}

.home-article {
    display: flex;
    background-color: rgb(220 213 213 / 50%);
    background-color: #fff9f3;
    margin: 21px 0;
    padding: 15px 0 0 15px;
}

.home-article img {
    width: 300px;
}

.home-article-content {
    padding: 25px;
    align-self: center;
    color: black;
}

.footer {
    height: 75px;
    /* background-color: var(--main-bg-color); */
    background-color: #d6d3d37a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
    margin: 45px 0 25px 0;
    border-radius: 10px;
    padding: 17px 0;
}

.footer a {
    color: black;
}