* {
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    height: 74px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    display: flex;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 18px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    /* background-color: var(--main-bg-color); */
    color: var(--main-bg-color);
    font-weight: bolder;
}

.content {
    height: 395px;
    /* background-color: rgb(220, 220, 245); */
    display: flex;
    margin-top: 32px;
    padding: 10px;
}

.content-left {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-family: var(--font1);
}

.content-left-heading {
    letter-spacing: .7rem;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
    margin-left: 2px;
}

.home-articles {
    height: 455px;
    background-color: rgb(235, 183, 183);
}

.home-article {
    display: flex;
}

.home-article img {
    width: 300px;
}

.home-article-content {
    padding: 25px;
    align-self: center;
}


/* .home-articles {} */

.footer {
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.footer a {
    color: white;
}