* {
    margin: 0;
    padding: 0;
}

.navigation {
    height: 34px;
    background-color: red;
}

.content {
    height: 95px;
    background-color: blue;
}

.footer {
    height: 50px;
    background-color: yellow;
}